
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
   
        <div class="top-row px-4">
          
            
            <AuthorizeView>
                <NotAuthorized>
                    <a  style="text-decoration:none "class="btn btn-primary" href="/login" role="button"><i class="fa-solid fa-circle-user mx-2"></i>Login</a>
                    <a style="text-decoration:none" class="btn btn-primary" href="/register"><i class="fa-solid fa-user mx-2"></i>Register</a>
                </NotAuthorized>
                <Authorized>
                    <a href="/logout">Log out</a>
                </Authorized>
               


            </AuthorizeView>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
