@page "/register-success"


<div class="card">
    <div class="card-body m-2">
    <span class="text-success"> User has been succesfully created, click <a href="/login">here</a> to login</span>
    </div>
</div>

@code {

}
