@page "/account/{userId:int}"
@using DokumentuTvirtinimoSistema.Models
@using DokumentuTvirtinimoSistema.Services
@using Microsoft.AspNetCore.Components.Authorization;
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims
@inject CustomAuthenticationStateProvider CustomAuth
<EditForm Model="@users" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <input id="username" class="form-control-plaintext" @bind-value="currentUser"/>

    </div>



</EditForm>

@code {
    [Parameter]
    public int userId { get; set; }
    string currentUser;
    User users = new User();
    protected override async Task OnInitializedAsync()
    {
        currentUser = await GetCurrentUser();


    }
    public async Task<string> GetCurrentUser()
    {
        var currentUserObj = await CustomAuth.GetCurrentUser();
        var currentUser = currentUserObj.Identity.Name;
        return currentUser;
    }

    public async Task HandleValidSubmit()
    {


        return;
    }
}
