@page "/"
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="d-flex align-items-center justify-content-center col-12">
        <h2 class="fw-bolder"><span class="text-success"> Document Approval System </span></h2>
    </div>
    <div class="d-flex align-items-center justify-content-center col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span>You are logged out, please log in or register to continue</span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Hello, <b>@context.User.Identity.Name</b>. Your role is: <b>@GetUserRole(context.User)</b>.</span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>


@code {
    private string GetUserRole(ClaimsPrincipal user)
    {
        var roleClaim = user.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role);
        return roleClaim?.Value ?? "Unknown";
    }
}
